.idea/
cmd/goipsec/main
deployments/logs/client.pcap
deployments/logs/vpn-gateway.pcap
deployments/logs/vpn-server.pcap
deployments/logs/web-server.pcap
docs/*.out
docs/*.aux
docs/*.log
docs/*.synctex.gz
docs/*.toc
docs/*.dvi
docs/*.blg
docs/*.bcf
docs/*.xml
docs/*.acn
docs/*.acr
docs/*.alg
docs/*.glg
docs/*.glo
docs/*.gls
docs/*.ist


